<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <!-- Site Icon -->
    <link rel="icon" href="/images/weather.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        <!-- Including partial header -->
        {{>header}}
        <p>Use this site to get weather information!</p>
        <form>
            <input type="text" name="search" />
            <button type="submit" name="submit" >Search</button>
        </form>

        <p id="location-name"></p>
        <p id="weather-info"></p>
    </div>
    <!-- Including partial footer -->
    {{>footer}}

    <!-- Script -->
    <script src="/js/script.js"></script>
</body>
</html>