<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{code}}</title>
    <!-- Site Icon -->
    <link rel="icon" href="/images/weather.png">    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Script -->
    <script src="/js/script.js"></script>
</head>
<body>
    <div class="main-content">
        <!-- Including partial header -->
        {{>header}}
        <h2>{{errorMessage}}</h2>
    </div>

    <!-- Including partial footer -->
    {{>footer}}
</body>
</html>